body{
    background-color: rgb(179, 218, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.jokeapp{
    background-color: aliceblue;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    
}
.jokeapp h1{
    text-align: center;
    border-bottom: 1px solid black;
}

.jokeapp button{
    display:block;
    width:80%;
    padding: 10px;
    background-color: rgb(183, 179, 179);
    border: none;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.jokeapp button:hover{
    background-color: rgb(116, 120, 123);
}